.App {
  text-align: center;
}

.ageUp,
.ageDown {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px
}

.age {
  margin: 10px
}

.historyItem {
    list-style-type: none;
    border: 1px solid #f9e5ad;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7e8bc70
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
